.container

	.background

	.overlay
		img.logo(src="/graphics/logo.jpg")

		.links

			a.fa.fa-email(
			title="Contact us by Email"
			href="mailto:suicideteam.il@gmail.com"
			target="_blank"
			)

			a.fa.fa-facebook(
			title="Suicide Team Facebook page"
			href="https://www.facebook.com/Suicide-team-Israel-suspension-crew-256939084407530/"
			target="_blank"
			rel="noopener"
			)

			a.fa.fa-instagram(
			title="Suicide Team Instagram feed"
			href="https://www.instagram.com/suicide_team/"
			target="_blank"
			rel="noopener"
			)

			a.fa.fa-youtube(
			title="Suicide Team Youtube channel"
			href="https://www.youtube.com/channel/UC0tWeCikTnJhGVFtT-TkqqQ"
			target="_blank"
			rel="noopener"
			)

			a.fa.fa-vimeo(
			title="Suicide Team Vimeo channel"
			href="https://vimeo.com/suicideteam"
			target="_blank"
			rel="noopener"
			)

			a(
			title="Suicide Team official page at Suspension.org"
			href="http://www.suspension.org/groups/suicide-team/"
			target="_blank"
			rel="noopener"
			)
				img(
				title="International Suspension Alliance"
				src="graphics/ISA.png"
				)